[data-dashboard-container]{
    display:flex;
    width:100%;
    align-items: center;
}

[data-flyout]{
    display:flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: white;
    border-left: 2px solid black;
    height: 100%;
    right: 0px;
}

[id="enactFlyout"] {
    display: none;
}

:not(input[id="enactFlyout"]:checked) ~ [data-window]{
    right: 0px;
    width:0px;
}

@keyframes flyout {
    


}


input[id="enactFlyout"]:checked ~ [data-window] {
    padding: 1em;
    transition: width 2s;
}

[for="enactFlyout"]{
    display: flex;
    flex-direction: column;
    align-items: center;
}

[data-pad-left], 
[data-pad-right]{
    flex-grow: 1;
    background-color: aqua;
   
}

[data-360-scatter] {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    width: 80%;
}

[data-container]
{
    flex-grow: 4;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flyout-indicator{
    border-right:1px solid gray
}

.pad-top {
    flex-grow: 2;
}

.pad-bottom{
    flex-grow: 2;
}

[data-point-entry]{
    display: flex;
    flex-direction: column;
}
[data-input-url]{
    height: 400px;
    width:100%
}

[data-input-url] ~ input {
    width:100%;
    margin:.2em
}

input.comparison-name {
    width:96%;
    padding: .5em;
}

[data-360-container]{
    padding:4em;
}


[data-toggle]{
    display: none;
}

[data-toggle]:not(:checked)~[data-question-details] {
    display: none;
}

[data-toggle]:checked ~ [data-question-details]{
    display: block;
}


.data-descriptor{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.questionType{
    margin-right:.2em;
}


.detailsLabel {
    font-family: "Font Awesome 5 Duotone";
    font-weight: 900;
    content: "show details";
    padding-left: 1em;
        /* position both layers of the icon to the left, set our fixed-width width, horizontally center layers, and then vertically align them so they flex with different line heights */
}

.statistics{
    display: flex;
    flex-direction: row;
}
.statistics > div{
    margin-right: .5em;
}

[data-question-details] {
    margin-left: 3em;
}

div.questionType{
    margin-bottom: .5em;
}


.sectionName{
    margin-bottom: .2em;
}

.statisticsLabel{
    margin-right:.2em
}

.statisticsContainer{
    padding-right:.4em
}

div.distribute-questions-list-container,
div.survey-list-container{
    margin: 2em;
}

div.distribute-questions-list-container{
    display: block;
    text-align: center;
}


div.question-distributer-url{
    word-break: break-all;
    margin-right: 5px;
}

div.question-distributer-url-entry-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    padding: 0 20% 0 20%;
}

div.question-distributer-copy-icon {
    align-items: center;
    cursor: pointer;
}

@media print {

    /* All your print styles go here */
    [data-pad-left],
    [data-flyout]{
        display: none !important;
    }
    [data-360-scatter]{
        width:90%
    }

    .detailsLabel{
        visibility: hidden;
    }

    [data-question-details] {
        display: block !important;
    }

    [data-section-wrapper]{
        page-break-before: always;
        border: none !important;
    }

    [data-prepare-to-send-link]{
        display: none;
    }

    
    [data-total-score]{
        display: block !important;
        position: inherit !important;
        width: 80% !important;
        border: none !important;
        box-shadow: none !important;
    }

    [data-entry]{
        page-break-inside: avoid;
    }

    .className{
        display: none;
    }
    [data-menu]{
        display: none !important;
    }

    @page last_page {
        }
}